@font-face {
    font-family: 'ComfoBold';
    src: url('../fonts/Comfortaa-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'ComfoLight';
    src: url('../fonts/Comfortaa-Light.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'ComfoRegular';
    src: url('../fonts/Comfortaa-Regular.ttf');
    font-weight: 500;
}
body {
    padding: 0;
    margin: 0;
    background: url("../img/bkg2op.jpg") no-repeat fixed;
    background-size: cover;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: scroll;
    top: 50px;
}
header {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}
main {

}
.logo, .title {
    height: 100%;
    line-height: 2;
    color: #fff;
    font-family: ComfoLight, serif;
    font-size: 25px;
}
.logo {
    margin-left: 150px;
    float: left;
}
.title {
    margin-right: 150px;
    float: right;
    /*clear: both;*/
}
.content-block {
    width: 50%;
    height: 120px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 0 0 rgba(0,0,0,0.3);
}
.content-block:first-child {
    width: 50%;
    height: 250px;
    margin-top: 100px;
}
.content-block-logo {
    width: 25%;
    height: 100%;
    text-align: center;
    border-right: 1px dotted grey;
    /*padding: 0 15px;*/
    font-size: 100px;
    color: cornflowerblue;
}
.label {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: ComfoLight, serif;
    color: #fff;
    /*border: 1px dotted wheat;*/
}
.fa-html5 {
    color: orangered;
    margin: 0;
    padding: 0;
    /*border: 1px dotted greenyellow;*/
}
.fa-js {
    color: yellow;
}
.fa-graduation-cap {
    color: blue;
    font-size: 110px;

}
