


div {
    margin: 100px auto;
    width: 50vw;
    text-align: center;
}
input {
    border: 2px inset black;
    border-radius: 10px;
    padding: 5px;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}
datalist {
    border: 5px solid black;
    border-radius: 10px;
}