body {
  width: 95vw;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../img/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-color: #000;
  color: silver;
  margin: 0 auto;
}
.market_logo {
  width: 230px;
  height: 75px;
}
.img_wrapper {
  margin-top: 65px;
}
.img_app {
  height: 540px;
  width: 272px;
  background-image: url("../img/balls.JPEG");
  background-size: cover;
  position: absolute;
  z-index: -1;
  margin-left: 10px;
}
.img_tel {
  height: 650px;
  width: 290px;
  margin-top: -65px;
}
@media screen and (max-width: 870px ){
  .main_logo {
    text-shadow: black 0 1px 35px;
    /*background: rgba(0,0,0,0.5);*/
  }
}
@media screen and (max-width: 575px ){
  .img_app {
    background-image: url("../img/startScreen.JPEG");
  }


}