body {
    background: black;
    overflow: hidden;
}
.slideshow-btn {
    color: white;
    margin: 15px auto;
    width: 250px;
    height: 30px;
    text-align: center;
    border-style: outset;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.slideshow-btn:hover {
    border-style: inset;
}
.slideshow-btn:active {
    transform: scale(0.95);
    transition: 0.3s;
}
.slideshow-btn span {
    letter-spacing: 2px;
    line-height: 2;
    padding-left: 15px;
}
.slideshow-btn i {
    color: red;
    font-size: larger;
}
.photos {
    margin: 40px auto;
    width: 50vw;
    position: relative;
    transform: translate(10px, 10px);
    transition: left 500ms linear;
}
.slider{
    width: 100%;
    box-shadow: 0 0 155px 20px #777;
    border-style: inset;
    border-radius: 15px;
}
.prev, .next{
    height: 100%;
    width: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.next {
    right: 0;
    top: 0;
}
.prev:hover, .next:hover {
    background: rgba(233, 233, 233, 0);
}
@keyframes showOpacity {
    from { opacity: 1}
    to   { opacity: 0.1}
}
.nav-icon {
    width: 100%;
    animation: showOpacity 5s;
    opacity: 0;
}
.nav-icon:hover {
    opacity: 0.3;
}
@media screen and (max-width: 600px){
    .photos {
        width: 100vh;
        margin: 10% auto;
    }
}