@font-face {
  font-family:'Flama';
  src: url('fonts/FlamaLight/FlamaLight.eot');
    url('fonts/FlamaLight/FlamaLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/FlamaLight/FlamaLight.woff') format('woff'),
    url('fonts/FlamaLight/FlamaLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family:'Flama';
  src:
   url('fonts/Flama/Flama.eot?#iefix') format('embedded-opentype'),
   url('./fonts/Flama/Flama.woff') format('woff'),
   url('fonts/Flama/Flama.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family:'Flama';
  src: url('fonts/FlamaBold/FlamaBold.eot');
  url('fonts/FlamaBold/FlamaBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/FlamaBold/FlamaBold.woff') format('woff'),
  url('fonts/FlamaBold/FlamaBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
html {font-size:16px; }
html, body {-webkit-font-smoothing: antialiased; }
body {
  width: 70%;
  margin: 0 auto;
  font-family: 'Flama', "Open Sans", sans-serif;
}
a, a:hover, a:active, a:focus { outline: 0;}
object, embed {outline: 0;}
input::-moz-focus-inner { border: 0; }
input[type="checkbox"] {-webkit-appearance: checkbox;}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
b,strong {font-weight: 600}
b,strong {font-weight: 600}
h1,h2,h3,h4,h5,h6,p,ul,ol {padding: 0; margin: 10px 0 20px; font-weight: 200}
h1 {font-weight: 600; font-size: 2em; color: #8dc63f}
h2 {font-size: 1.75em}
h3 {font-size: 1.4em}
h4 {font-size: 1.3em}
h5 {font-size: 1.2em}
* {
  padding: 0;
  color: #8dc63f;
  font-family: 'Flama', "Open Sans", sans-serif;
  line-height: 2;
  font-size: 16px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]:checked +.hidden {
  display: block;
}
#checking11::choices label .plus{
  transform: rotate(45deg);
}
.corpgov-link {
  font-weight: 200;
  color: #8dc63f;
  font-family: 'Flama', "Open Sans", sans-serif;
}
.management {
  position: absolute;
}
.name {
  font-size: 23px;
  font-weight: bold;
  margin: 25px 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.plus {
  display: block;
  background: #8dc63f;
  float: right;
  height: 30px;
  width: 10px;
  position: relative;
  top: 0;
  right: 10px;
  transition: 2s;
}

.plus::before {
  content: "";
  position: absolute;
  background: #8dc63f;
  right: -10px;
  top: 30%;
  height: 10px;
  width: 30px;

}
/*label:hover  .plus {*/
  /*transform: rotate(45deg);*/
/*}*/
label:active .plus {
  transform: rotate(45deg);
  transition: 0s;
}
.hidden {
  width: 90%;
  display: none;
  color: #fff;
}
.post {
  font-weight: 600;
  color: #4d4d4f;
}
.bio {
  color: #4d4d4f;
}
.committees {
  width: 80px;
  height: auto;
}
.table-row {
  display: flex;
}
.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4f;
  width: 25%;
  min-height: 40px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #F3F3F3;
}
.table-row:nth-child(even) {
  background: #F3F3F3;
}
.table-cell:nth-child(1){
  border: none;
  justify-content: start;
  width: 20%;
}
.table-cell:last-child {
  width: 35%;
}
.bcommittes {
  margin-bottom: 0;
}
.circles {
  display: flex;
}
.circle {
  background: #8dc63f;
  border: 2px solid #53791f;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  cursor: pointer;
}
.circle:hover .circle_text {
  color: #ccc;
}
.circle_text {
  display: block;
  color: #fff;
  padding-top: 25px;
  margin: 0;
}
.faq_name {
  font-size: 16px;
  color: #666;
  font-family: inherit;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 1px;
}
.pointer {
  cursor: pointer;
}
/* Tabs Func */
.tabs {
  width: 100%;
  height: 98vh;
}
label {
}
.tabs ul,
.tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs,
.tabs input[type="radio"]:checked + label {
  position: relative;
}
.tabs li,
.tabs input[type="radio"] + label {
  display: inline-block;
}
.tabs li > div,
.tabs input[type="radio"] {
  position: absolute;
}

.tabs input[type="radio"]:checked + label{
  transform: scale(1.05);
}
.tabs {
}
.tabs li {
}
.tabs li:first-child {
  /* margin-left: 8px; */
}
.tabs li > div {
  margin-top: 50px;
  /* top: 33px; */
  /* bottom: 0; */
  left: 0;
  width: 100%;
  padding: 8px;
  overflow: auto;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs input[type="radio"] + label {
  margin: 0 2px 0 0;
  padding: 20px 18px 0 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.tabs input[type="radio"]:checked + label {
  z-index: 1;
  border-bottom: 1px solid grey;
}
.tabs input[type="radio"] {
  opacity: 0;
}
.tabs input[type="radio"] ~ div {
  display: none;
}
.tabs input[type="radio"]:checked:not(:disabled) ~ div {
  display: block;
}
.tabs input[type="radio"]:disabled + label {
  opacity: .5;
  cursor: no-drop;
}